<h1 class='display-3 mb-3'>User registration <small class="text-muted h5"> ou <%= link_to "Connectes-toi", new_session_path %></small></h1>

    <form action="<%= users_path %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" class='form-control my-2' name="first_name" placeholder="first_name" required>
        <input type="text" class='form-control my-2' name="last_name" placeholder="last_name" required>
        <input type="text" class='form-control my-2' name="city" placeholder="city" required>
        <input type="email" class='form-control my-2' name="email" placeholder="email" required>
        <input type="password" class='form-control my-2' name="password" placeholder="password" required>
        <input type="password" class='form-control my-2' name="password" placeholder="check_password" required>
        <input type="submit" value="S'enregistrer" class='btn'>
</form>