<h1> Salut </h1>
<p> Edit page </p>

<html>
  <body>
     <%= form_for @gossips do |f| %>
     <div class="form-group">
      <label>Titre du gossip</label>
      <%= f.text_field :title, class: 'form-control' %>

     </div>
      <div class="form-group">
      <label>Content du gossip</label>
      <%= f.text_area :content, class: 'form-control' %>

     </div>
      <div class="form-group">
       <button type="submit">Modifier l'article</button>
      </div>
     <% end %>

  </body>
</html>