<h1><%= "Bienvenue #{@firstname}" %></h1>
<p> Ici c'est notre super site de potins !! Chouette!!!</p>
<p> <% @gossips.each do |g| %> <br>

	<%="Titre : #{g.title}" %> <br>     <!--- affiche le titre-->

	<%= " Auteur : #{User.find(g.user_id).first_name}" %> <br>


	<%end%>



</p>